<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
    <nb-sidebar>
      <nb-icon icon="activity"></nb-icon>Invoicing
    </nb-sidebar>

    <nb-sidebar end>
      <nb-actions size="medium">
        <nb-action class="control-item">Invoices</nb-action>
        <nb-action class="control-item">Customers</nb-action>
      </nb-actions>
    </nb-sidebar>

  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
