:host {
  padding: 1.25rem;
}
/*
Setting the mat-form-filed width to 100%
prevents some mouse events to occur
For example, the date picker can't be activated
 */
input, mat-form-field, mat-select {
  width: 80%;
}

mat-card-actions {
  margin-top: 1.25rem;
  display: block;
}

.toggler {
  padding-top: 1.25rem;
}

.total {
  padding-top: 1.25rem;
  text-align: right;
}
